*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x:hidden;

}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
nav{
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title{
    color: white;
    z-index: 2; /* defines the order for overlapping elements */
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);
    font-family: 'Poppins', sans-serif;
}

.moveBtnGroup{
    background-color: rgb(0, 0, 0); 
    color: white; /* White text */
    position: absolute;
    top: 200px;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 500px;

    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    z-index: 3;
}
/* Clear floats (clearfix hack) */
.moveBtnGroup:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.moveBtnGroup button:hover {
    background-color: #7b7b7b;
}

.moveBtn{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;

    width:100%;
    height: 100%;
    margin: 5px;
    table-layout: fixed;
}
.moveBtn tr{
    display: flex;
}
.moveBtn tr td {
    flex: 1;
    display: flex;
    flex-direction: column;
}
